.scrollable-panel {
    overflow-y: auto;
    max-height: 1000px;
}
.hide-scrollbar::-webkit-scrollbar {
    width: 0.5em;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}
.left-panel {
    flex: 1;
    height: 100vh;
}
.centerPanel {
    flex: 2;
    height: 100vh;
    overflow-y: scroll;
}
.right-panel {
    flex: 1;
    height: 100vh;
}
.button_list-item {
    margin-left: 2px;
    cursor: pointer;
}
.button_list-item:hover {
    background-color: #cccccc42;
    outline: none;
}
.status-newfeed_create--btn {
    outline: none;
    border: 1px solid #cccccc53;
    border-radius: 20px;
    color: #000000c7;
    background-color: #cccccc4f;
    width: 100%;
}
.status-newfeed_create--btn:hover {
    background-color: #cccccc42;
}
.right-nav--avatar {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}
.list-react {
    list-style: none;
    display: flex;
}
.list-react--item__comment-count {
    margin-left: auto;
}
.list-react__button {
    list-style: none;
    justify-content: space-between;
    display: flex;
}
.button-react {
    width: 100%;
    justify-content: center;
}
.button-react:hover {
    background-color: #cccccc42;
}
.button-react--icon {
    font-size: 1.3rem;
}
.left-panel__list {
    list-style: none;
    align-items: center;
}
.left-panel__list-item {
    display: flex;
    padding: 7px 0 7px 0;
    width: 100%;
    align-items: center;
}
.left-panel__list-item--label {
    margin-left: 10px;
}
.left-panel__list-item:hover {
    background-color: #cccccc42;
}
.newfriend-list {
    list-style: none;
    padding: 15px;
}

.newfriend-avatar {
    width: 45px;
    height: 45px;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}
.btn-newfriend {
    padding: 10px 2px 10px 2px !important;
    width: 45%;
}
.btn-search {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    color: #fff;
}
.person-contact {
    padding: 7px;
    border-radius: 10px;
    margin-top: 5px;
}
.person-contact:hover {
    background-color: #cccccc64;
}
.story-item {
    z-index: 1;
    position: relative;
    display: flex;
    width: 150px;
    height: 230px;
    cursor: pointer;
}
.story-img {
    width: 150px;
    height: 230px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    filter: brightness(80%);
}
.story-item--avatar {
    position: absolute;
    border-radius: 30px;
    border: #2475ee solid 4px;
    overflow: auto;
    margin-top: 10px;
    margin-left: 10px;
}
.story-item--avatar-img {
    width: 30px;
    height: 30px;
    background-size: cover;
}
.story-item--username {
    position: absolute;
    color: #ffffffde;
    margin-top: 205px;
    font-size: 0.7rem;
    margin-left: 10px;
}
.story-main {
    z-index: 1;
    display: flex;
    position: relative;
    display: flex;
    width: 150px;
    height: 230px;
    cursor: pointer;
}

.story-main--img {
    position: absolute;
    width: 150px;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    filter: brightness(80%);
}

/* margin-top: 160px;
margin-left: 55px; */

.story--create_title {
    position: absolute;
    color: #ffffffde;
    margin-top: 170px;
    font-size: 1rem;
    background-color: #ffffff;
    width: 150px;
    height: 60px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}
.story--create-btn:hover {
    background-color: #225aad;
}
.story--create-btn {
    margin-left: 55px;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 40px;
    background-color: #2475ee;
    outline: none;
    border: none;
    margin-top: -15px;
}
.story-main--create-icon {
    font-size: 1.2rem;
    color: #ffffffde;
}
.story-main--title {
    position: absolute;
    margin-top: 200px;
    margin-left: 50px;
    font-size: 0.8rem;
    color: #000000a5;
}
.story-item:hover {
    filter: brightness(80%);
}
.story-main:hover {
    filter: brightness(80%);
}
.button-border {
    width: 30px;
    height: 30px;
    background-color: #cccccc42;
    padding: 0;
    border-radius: 50%;
    margin-right: 5px;
}
.button-border:hover {
    background-color: #cccccc88;
}
.button_border--outline {
    background-color: #cccccc42;
    border-radius: 40px;
}
.button_border--outline:hover {
    background-color: #ccccccaa;
}
.chat-custom {
    width: 320px;
    position: fixed;
    bottom: 0;
    right: 100px;
    z-index: 1;
    /* display: none; */
    transform: translateY(22px);
}
.button-send {
    width: 40px;
    height: 40px;
    background-color: #cccccc4b;
    padding: 0;
}
